$font: 'Poppins', sans-serif;

$green: #07CA84;
$green--hover: #05B575;
$green--lucid: rgba(7, 202, 132, 0.1);
$green--lucid-2: rgba(7, 202, 132, 0.15); 
$red: #FF5170;
$red--hover: #E13F5C;
$black: #222222;
$gray: #9B9B9B;
$devider: #E1E1E1;
$white: #ffffff;
$footer-color: #235B47;
$field-color: #616161;
$field-border: #D0F6E9;